@font-face {
    font-family: 'NHaasGroteskDSPro'; /* Usa este nombre en tu CSS */
    src: url('fonts/NHaasGroteskDSPro-65Md.woff2') format('woff2'),
         url('fonts/NHaasGroteskDSPro-65Md.woff') format('woff'),
         url('fonts/NHaasGroteskDSPro-65Md.ttf') format('truetype'),
         url('fonts/NHaasGroteskDSPro-65Md.otf') format('opentype');
    font-weight: 500; /* Asumiendo que "65Md" es un peso medio */
    font-style: normal;
    font-display: swap;
}

/* Define la segunda fuente personalizada: SourceCodeVariable-Roman */
@font-face {
    font-family: 'SourceCodeVariable'; /* Usa este nombre en tu CSS */
    src: url('fonts/SourceCodeVariable-Roman.woff2') format('woff2'),
         url('fonts/SourceCodeVariable-Roman.woff') format('woff'),
         url('fonts/SourceCodeVariable-Roman.ttf') format('truetype'),
         url('fonts/SourceCodeVariable-Roman.otf') format('opentype');
    font-weight: normal; /* "Roman" generalmente implica un peso regular */
    font-style: normal;
    font-display: swap;
}

/* Estilos generales del cuerpo y fuente */
body {
    margin: 0;
    font-family: 'SourceCodeVariable', monospace;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Estilos para el encabezado principal */
h1 {
    font-family: 'NHaasGroteskDSPro', sans-serif;
    text-align: center;
    padding: 10px 0; /* Reduced padding for a smaller height */
    background-color: #1E1F1C; /* A new, darker color for a more professional look */
    flex-shrink: 0;
    font-size: 1.5em; /* Reduced font size */
    letter-spacing: 2px;
    color: #fff; /* Added a white text color for contrast */
}

/* Estilos para el contenedor del mapa */
#map {
    width: 100%;
    height: 85vh; /* Ajusta el tamaño del mapa */
    position: relative; /* Convierte a #map en el contexto de posicionamiento para elementos absolutos */
    overflow: hidden; /* Asegura que el contenido fuera del mapa se recorte */
}

/* Estilos del Tooltip de OpenLayers */
.ol-tooltip {
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 8px 12px;
    border-radius: 4px;
    white-space: nowrap;
    z-index: 10; /* Asegura que aparezca sobre el mapa */
    display: none; /* Oculta los tooltips por defecto */
    pointer-events: none; /* Importante: permite que los eventos del mouse pasen al mapa */
    transform: translate(-50%, -100%); /* Ajusta el puntero */
    margin-top: -10px; /* Pequeño desplazamiento del puntero */
    font-family: 'NHaasGroteskDSPro', sans-serif;
}

/* Estilos del Panel de Información - AHORA UN PANEL LATERAL DERECHO */
.info-panel {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 350px;
    max-width: 90%;
    overflow-y: auto;
    background-color: rgb(255, 255, 255);
    color: #000000;
    padding: 20px;
    box-shadow: -4px 0 15px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Asegura que esté encima de todo */
    transform: translateX(100%); /* Comienza fuera de la pantalla a la derecha */
    transition: transform 0.3s ease-out; /* Añade una animación de deslizamiento suave */
}

/* Esta clase se añade con script.js para mostrar el panel */
.info-panel.open {
    transform: translateX(0); /* Desliza hacia la vista */
}

.info-panel h2 {
    margin-top: 0;
    color: #2BAB64; /* Verde para el título */
    border-bottom: 1px solid rgba(0, 0, 0, 0.2); /* Borde sutil */
    padding-bottom: 10px;
    margin-bottom: 15px;
    font-family: 'NHaasGroteskDSPro', sans-serif;
}

.info-panel p {
    margin-bottom: 10px;
    line-height: 1.5;
}

.info-panel p strong {
    color: #a0a0a0; /* Gris ligeramente más claro para los nombres de las propiedades */
}

.info-panel .close-panel {
    position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    font-size: 1.5em;
    color: #000000;
    cursor: pointer;
    line-height: 1;
    padding: 0;
}
.info-item.image-container {
    text-align: center; /* Center the image in its container */
    padding: 10px 0; /* Add some vertical space */
}

.info-item.image-container img {
    max-width: 100%; /* This is the key: it forces the image to not exceed the width of its parent container */
    height: auto; /* This maintains the image's aspect ratio, so it doesn't get distorted */
    border-radius: 8px; /* Optional: adds rounded corners to the image */
}

.close-panel:hover {
    color: #2BAB64; /* Verde al pasar el mouse */
}

/* Escala de grises para la capa base de OpenStreetMap SOLAMENTE */
.ol-layer-osm-grayscale canvas {
    filter: grayscale(100%);
}

/* Estilos para el banner de investigación */
#research-banner {
    background-color: #1E1F1C; /* Gris-azul oscuro */
    color: #fff;            /* Color de texto blanco */
    padding: 15px 0;        /* Relleno vertical */
    text-align: center;     /* Centra el texto */
    font-size: 0.9em;       /* Texto ligeramente más pequeño */
    position: relative;     /* Necesario para z-index si hay superposición */
    z-index: 100;           /* Asegura que se mantenga encima del mapa */
    width: 100%;            /* Ocupa todo el ancho */
    flex-shrink: 0;         /* Evita que el banner se encoja */
}

.banner-content {
    max-width: 960px; /* Limita el ancho del contenido para una mejor legibilidad */
    margin: 0 auto;   /* Centra el contenido horizontalmente */
    padding: 0 20px;  /* Relleno horizontal para el contenido */
}

.banner-links a {
    color: #87CEEB; /* Azul claro para los enlaces */
    text-decoration: none; /* Sin subrayado por defecto */
    margin: 0 10px; /* Espacio entre enlaces */
}

.banner-links a:hover {
    text-decoration: underline; /* Subrayado al pasar el mouse */
}

.banner-logo {
    margin-top: 10px; /* Espacio encima del logo */
    display: flex;    /* Usa flexbox para alinear el logo y el texto */
    justify-content: center; /* Centra horizontalmente */
    align-items: center;     /* Centra verticalmente */
    gap: 10px;        /* Espacio entre el logo y el texto */
}

/* --- Panel de Control de Capas (Escritorio) --- */
.layer-controls {
    position: absolute;
    top: auto;
    right: auto;
    bottom: 10px; /* Posicionado en la parte inferior */
    left: 10px; /* Posicionado a la izquierda */
    width: 250px;
    background-color: rgba(0, 0, 0, 0.607);
    color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    z-index: 900;
    accent-color: #8E6814
}

/* Oculta inicialmente el botón de alternar en escritorio */
.toggle-layer-controls-button {
    display: none;
}

/* --- Media Queries para Móviles --- */
@media (max-width: 768px) {
    /* Panel de Información en Móvil */
    .info-panel {
        top: auto; /* Elimina la alineación superior */
        right: 0;
        bottom: 0;
        left: 0; /* Ocupa todo el ancho */
        width: 100%; /* Asegura el ancho completo en móvil */
        max-height: 50vh; /* Limita la altura a la mitad de la pantalla */
        transform: translateY(100%); /* Comienza fuera de la pantalla en la parte inferior */
        box-shadow: 0 -4px 15px rgba(0, 0, 0, 0.2);
    }
    
    .info-panel.open {
        transform: translateY(0); /* Se desliza hacia arriba */
    }
    
    /* Controles de Capa en Móvil */
    .toggle-layer-controls-button {
       display: block; /* Hace visible el botón en móvil */
        position: absolute;
        bottom: 20px;
        left: 20px; /* Posicionado a la izquierda */
        right: auto; /* Elimina el posicionamiento derecho */
        width: 50px;
        height: 50px;
        background-color: #8E6814;
        color: white;
        border: none;
        border-radius: 8px; /* Cambia a un radio pequeño para un cuadrado con esquinas redondeadas */
        font-size: 2em;
        line-height: 1;
        cursor: pointer;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        z-index: 1000;
        transition: all 0.3s ease;
    }

    .layer-controls {
        top: auto;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        max-height: 50vh; /* Limita la altura a la mitad de la pantalla */
        border-radius: 8px 8px 0 0; /* Esquinas superiores redondeadas */
        transform: translateY(100%); /* Comienza fuera de la pantalla en la parte inferior */
        box-shadow: 0 -4px 15px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s ease-in-out; /* Añade animación */
    }
    
    .layer-controls.open {
        transform: translateY(0); /* Se desliza hacia arriba */
    }
}
#info-panel h4.subtitle {
    color: #888; /* A nice dark grey color */
    font-family: "NHaasGroteskDSPro", sans-serif;
    font-size: 1em; /* You can adjust this size as needed */
    font-weight: normal; /* To make it not bold */
    margin-top: -10px; /* Adjust spacing between title and subtitle */
    margin-bottom: 10px;
}
